html {
  position: relative;
  min-height: 100%;
}

body {
}

.container {
  text-align: center;
  min-height: 100%;
  position: relative;
}

.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: url("../images/header.jpg");
  background-attachment: fixed;
  position: relative;
}
.clearfix{
  content: "";
  display: block;
  clear: both;
}

/* ここから */
header {
  height: 50px;
  background-color: #2B2B2B;
}

header ul {
}

header ul a {
  text-decoration: none;
  color: white;
}

header li {
  list-style: none;
  padding-right: 50px;
}

.label1 {
  float: left;
}

.label2 {
  float: right;
}

.left {
  float: left;
}
.right {
  float: left;
}

header ul:after {
}
/* ここまでがheader部分の実装 */

.main-header img {
/* main画像（白い「Achieve」の文字の画像）部分の実装 */
  position: absolute;
  top: 50%;
  left:  50%;
  transform: translateY(-50%) translateX(-50%);
  width: 13%;
}

.about h1 {
/* About Achieve部分の実装 */
  font-size: 1.5rem;
}

.about p {
  font-size: 0.8rem;
}

/* ここから */
.function {
  background-color: #D3D3D3;
  padding-bottom: 70px;
}

.function-images {
  background-color: #D3D3D3;
  display: table;
  margin:0 auto;
  width: 30%;
}

.function-image {
  background-color: #D3D3D3;
  display: table-cell;
}
/* ここまでがfunction部分の実装 */
footer {
/* footer部分の実装 */
  background-color: #283A4B;
  color: white;
  /* float: left; */
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0px;
  display: table;
}

.label3 p {
  font-size: 0.8rem;
  margin: 0px;
}

.label3 {
  display: table-cell;
  vertical-align: middle;
}
